@using BOMBSQUAD.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="position:relative;width:800px;margin:auto;top:20px;text-align:center;height:40px;">
        <span style="font-family: 'Stardos Stencil',cursive; font-size: 96pt;color:darkblue;">Bomb Squad</span>
        <span style="font-family: 'Stardos Stencil',cursive; font-size: 40pt;color:darkblue;">by Nuria Perez</span>
        <img src="../Content/game_image.jpg" />
    </div>
</div>