<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9c65e7b1-6abc-4ce3-b0c9-99ff2faaac4a/resourceGroups/Personal_Projects/providers/Microsoft.Web/sites/BombSquadBeyondNuria</ResourceId>
    <ResourceGroup>Personal_Projects</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://bombsquadbeyondnuria.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>bombsquadbeyondnuria.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BombSquadBeyondNuria</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BombSquadBeyondNuria</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>